{
    "presets": [
        "env",
        "react"
    ],
    "plugins": [        
        "transform-object-rest-spread",
        "transform-react-jsx",
        ["transform-runtime", {
            "helpers": false,
            "polyfill": false,
            "regenerator": true,
            "moduleName": "babel-runtime"
        }]
    ],
    "env": {
        "production": {
            "presets": [
                "react-optimize"
            ]
        },
        "development": {
            "plugins": [
                "transform-react-jsx-source"
            ]
        }
    },
    "sourceMaps": true,
    "retainLines": true
}